@{
    Layout = "_Layout";
    ViewData["Title"] = "Application Submitted";
}

<div class="container">
    <h2>Your application has been submitted!</h2>
    <p>Thank you for submitting your opportunity. We will review it and get back to you soon.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
</div>